@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default CSS variables */
:root {
  --primary-400: #6258df;
  --primary-500: #4338ca;
  --secondary-500: #38cab9;
  --secondary-400: #58dfcf;
  --neutral: #6d6c80;
  --text-100: #ffffff;
  --text-200: #e7e6ff;
  --bg-900: #181721;
  --bg-800: #211f32;
  --bg-700: #2a283e;
}

/* Light theme */
.theme-light {
  --primary-400: #6258df;
  --primary-500: #4338ca;
  --secondary-500: #38cab9;
  --secondary-400: #58dfcf;
  --neutral: #6d6c80;
  --text-100: #211f32;
  --text-200: #2a283e;
  --bg-900: #f1f0ff;
  --bg-800: #e3e1ff;
  --bg-700: #d5d2fe;
}

/* Dark theme */
.theme-dark {
  --primary-400: #6258df;
  --primary-500: #4338ca;
  --secondary-500: #38cab9;
  --secondary-400: #58dfcf;
  --neutral: #6d6c80;
  --text-100: #ffffff;
  --text-200: #e7e6ff;
  --bg-900: #181721;
  --bg-800: #211f32;
  --bg-700: #2a283e;
}

@layer utilities {
  .post-textarea {
    @apply resize-none rounded-md border border-bg-700 bg-transparent p-3 text-lg outline-none transition-all duration-300 focus:border-primary-500;
  }

  .post-textarea::-webkit-scrollbar {
    width: 5px;
  }

  .post-textarea::-webkit-scrollbar-track {
    border-radius: 9999px;
    background-color: var(--bg-900);
  }

  .post-textarea::-webkit-scrollbar-thumb {
    border-radius: 9999px;
    background-color: var(--bg-900);
  }

  /* Custom scrollbar  */
  main,
  pre {
    scrollbar-width: thin;
    scrollbar-color: var(--bg-800) var(--bg-900);
  }

  main::-webkit-scrollbar,
  pre::-webkit-scrollbar {
    width: 10px;
  }

  main::-webkit-scrollbar-track,
  pre::-webkit-scrollbar-track {
    background-color: var(--bg-900);
  }

  main::-webkit-scrollbar-thumb,
  pre::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--bg-800);
  }

  /* Custom styles for autofill */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--text-100);
    -webkit-box-shadow: 0 0 0px 999999px var(--bg-800) inset;
    box-shadow: 0 0 0px 999999px var(--bg-800) inset;
    transition: background-color 5000s ease-in-out 0s;
    color: var(--text-100);
    caret-color: var(--text-100);
    @apply rounded-md;
  }
}
